footer {
  background: #F4F4F4;
  color: #8D939B;
  .footer__main {
    padding: 50px;
   h4 {
     text-transform: uppercase;
     font-size: 16px;
     font-weight: $font__bold;
     margin-bottom: 30px;
   }
  }
  .social img {
    height: 25px;
    margin-right: 10px;
  }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      color: #8D939B;
      transition: .5s;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: $font__light;
    }
    a:hover {
      color: #000;
      text-decoration: none;
    }
  }
  a {
    color: #8D939B;
    transition: .5s;
  }
  a:hover {
    color: #000;
  }
  .newsletter {
    label.required {
      text-transform: uppercase;
    }
    input.required {
      background: #dddedf;
      border: none;
      padding-left: 10px;
    }
    .asterisk {
      color: red;
    }
    .button {
      color: #fff;
      background: #1D2C3C;
      padding: 15px 30px;
      width: 100%;
      text-transform: uppercase;
      border-radius: 0;
      font-size: 12px;
      font-weight: $font__medium;
      transition: .5s;
    }
    .button:hover {
      background: #8D939D;
    }
    a {
      font-weight: $font__bold;
    }
  }
}

.signature {
  background: url(images/footer-bg.jpg) repeat-x #F4F4F4;
  padding-top: 280px;
  color: #1D2C3C;
  .footer__logo {
    text-align: center;
    img {
      padding-right: 10px;
    }
    @include md {
      margin-top: -30px;
    }
  }
  a {
    color: #1D2C3C;
    transition: .5s;
    text-transform: uppercase;
  }
  a:hover {
    color: #8D939B;
    text-decoration: none;
  }
  .copyright {
    text-align: center;
    font-weight: $font__bold;
    @include md {
      text-align: left;
    }
  }
  .byline {
    text-align: center;
    @include md {
      text-align: right;
    }
    a {
      color: #1D2C3C;
      transition: .5s;
      font-weight: $font__bold;
      text-transform: none;
    }
    a:hover {
      color: #8D939B;
      text-decoration: none;
    }
  }
}
