.navbar-default .navbar-nav > li.menu-item-has-children a {
  /*padding-right: 50px;*/
}

.navbar-default .navbar-nav > li.menu-item-has-children a:after {
  content: " ";
  color: #fff;
  padding: 0 0 0 13px;
  background-image: url(../images/nav_arrow_down.png);
  background-repeat: no-repeat;
}

ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
  @include md {
    display: block !important;
  }
}

.home {
  header {
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .site-content {
    padding-top: 0;
  }
}



header {
  @include md {
    padding: 20px 35px;
  }
  padding: 20px 0;
  background-color: #123243;
  .search {
    padding-right: 100px !important;
    text-align: right;
  }
}

img.branding {
    position: relative;
    z-index: 1;
    @include md {
      z-index: 99999999999;
    }
}

.hamburger {
  text-align: right;
}

span.open {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(14,22,39, 0.99);
    // background-color: rgba(1,130,200, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
      top: 20%;
    @include lg {
      top: 25%;
    }
    width: 100%;
    text-align: center;
    margin-top: 30px;
    ul {
      text-align: left;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        transition: .5s;
        a {
          border-left: 50px solid transparent;
          cursor: pointer;
        }
      }
      li:hover {
        border-left: 50px solid #0182C8;
        a {
          border-left: 0;
        }
      }
    }
    ul ul {
      display: none;
      @include md {
        position: absolute;
        top: 0;
        left: 33%;
        display: none;
        // transition: 0.5s;
        height: 100%;
        width: 33%;
        border-right: 1px solid #0182C8;
        border-left: 1px solid #0182C8
      }
      a {
        font-size: 20px;
        @include md {
          font-size: 40px;
        }
      }
    }
    ul ul:hover {
      display: block
    }
    ul li ul {
      // transition: 0.5s;
    }
    ul li:hover ul {
      display: block;
    }
}

.overlay a.social {
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: $font__light;
  color: #fff;
  display: inline;
  // transition: 0.3s;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}


.overlay a {
    @include md {
      font-size: 50px;
    }
    @include lg {
      font-size: 60px;
    }
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    font-weight: $font__light;
    color: #fff;
    display: block;
    // transition: 0.3s;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0;
}

.overlay a:hover, .overlay a:focus {
    color: #0182C8;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 3px;
    font-size: 100px;
    line-height: 40px;
    z-index: 99999;
    transition: .5s;
}

.overlay .closebtn:hover {
  transform: rotate(90deg);
}


@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.in-nav {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  form {
    display: inline;
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    input {
      border: 0;
    }
    input.img {
      vertical-align: bottom;
    }
  }
  img {
    height: 25px;
    margin-left: 10px;
  }
}

.content-area {
  margin-top: 100px;
}
